nav {
  @include size(100% auto);
  background: $blue;
}

ul {
  text-align: center;
  padding: .75em 0;

  li {
    color: $dark-gray;
    display: inline-block;
    margin: 0 2em;
    vertical-align: middle;
  }
}
