.background {
  @include animation(fade-in 3s ease);
  @include size (100% 300%);
  @include position(fixed, 0px 0 0 0px);
  background: url('http://goo.gl/kaVzB8') repeat;
  background-size: 100% auto;
  z-index: -1
}

@include media($medium-screen-up) {
  .background {
    background-size: 400% auto;
    background-position: top center;
  }
}

