.background {
  @include animation(fade-in 3s ease);
  @include size (100% 300%);
  @include position(fixed, 0px 0 0 0px);
  background: url('https://images.unsplash.com/photo-1428953773181-b4cf23cd7195?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=bfb5e396c9e27c76826e8fc3cb673418') repeat;
  background-size: 100% auto;
  z-index: -1
}

@include media($medium-screen-up) {
  .background {
    background-size: 400% auto;
    background-position: top center;
  }
}

